
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 360px;
    height: 470px;
    background: rgba(77, 10, 68, 0.599);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 120px 30px;
}

.login-box .avatar {
    width: 180px;
    height: auto;
    position: absolute;
    top: 20px;
    left: calc(50% - 90px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="e-mail"], 
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #d32c95;
    background: transparent;
    outline: none;
    height: 40px;
    color: #d32c95;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #d32c95;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #e9e9e9;
    color: #000;
}

.login-box .link {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box .link:hover {
    color: #d32c95;
}